/* ==================== Confetti ==================== */
.confetti-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 5;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f2d74e;
    top: -10px;
    animation: confettiFall 3s linear infinite;
}

@keyframes confettiFall {
    0% {
        top: -10px;
        transform: rotate(0deg) translateX(0);
        opacity: 1;
    }

    100% {
        top: 100vh;
        transform: rotate(720deg) translateX(50px);
        opacity: 0;
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}