/* Special Question for Player */
.game-header.special {
    border-bottom: 2px solid #ffd700;
    padding-bottom: 1rem;
    animation: pulseGoldText 2s infinite;
}

@keyframes pulseGoldText {

    0%,
    100% {
        text-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
    }

    50% {
        text-shadow: 0 0 15px rgba(255, 215, 0, 0.8);
    }
}